@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: outfit;
}

body {
    background-color: #eaeded !important;
}


a {
    text-decoration: none;
    color: inherit;
}


.main_div{
    width: 100%;
    height: 900px;
    color: #0f1111;
    font: 14px arial;
    background-color: #EAEDED;
    padding: 14px 18px 18px;
}

.div_1{
    height: 243px;
    width: 1163px;
    color: #0F1111;
    font: 14px arial;
    padding: 0px 20px 5px;
    display: flex;
}

.div_1_1{
    height: 270px;
    width: 1003px;
    color: #0F1111;
    font: 14px arial;
    margin: 5px 0px 0px 1px;
    display: flex;
    background-color: white;
}

.img_1_1{
    height: 206px;
    width: 359px;
    padding-left: 20px;
    padding-top: 20px;
}

.div_1_1_1{
    color: #0F1111;
    font: 14px;
    margin: auto 0;
    margin-left: 30px;
}

.h2_1_1_1{
    height: 32px;
    width: 740px;
    color: #0F1111;
    font: 24px arial;
}

.link-1{
    margin-right: 10px;
    background: #f0b800;
    padding: 4px 10px;
    border-radius: 5px;
    color: black !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link-2{
    border: 1px solid black;
    background: #ffffff;
    padding: 4px 10px;
    border-radius: 5px;
    color: black !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.div_1_1_1_1{
    display: flex;
    margin-top: 1rem;
}

.a1_1_1_1_1{
    height: 29px;
    width: 150px;
    color: #0F1111;
    background-color: yellow;
    font: 14px arial;
    margin-top: 10px;
    padding-top: 3px;
    padding-left: 5px;
    border-radius: 10px;
}

.a2_1_1_1_1{
    height: 29px;
    width: 110px;
    color: #0F1111;
    font: 16px arial;
    margin-left: 10px;
    padding-top: 3px;
    padding-left: 20px;
    margin-top: 10px;

    border-radius: 10px;
    background-color: #e3f2f2;
}


.div_1_2{
    height: 80px;
    width: 1003px;
    background-color: white;
    margin-top: 20px;
}

.div{
    height: 570px;
    width: 1003px;
    color: #0F1111;
    font: 14px arial;
    margin: 5px 0px 0px 1px;
}
.div_2{
    border-radius: 10px;
    margin-left: 30px;
}

.img_2{
    border-radius: 10px;
}