@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: outfit;
}

body {
    background-color: #ffffff;
}


a {
    text-decoration: none;
    color: inherit;
}



.header-img {
    max-width: 100%;
    mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
}

.header-slider button {
    position: absolute;
    top: 20%;
    z-index: 1;
    padding: 5vh 1vh;
    background: #ffffff4f;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    border: none;
    margin: 0px 10px;
}

.control_next {
    right: 0;
}





.box-row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-evenly;
    margin: 20px 30px;
}

.box-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 15px;
    background: #fff;
    max-width: 24%;
    min-height: 200px;
    z-index: 1;
}

.box-col a {
    font-size: 13px;
    color: #009999;
    font-weight: 500;
}

.header-box {
    margin-top: -20vw;
}



.products-slider {
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
}

.products-slider .products {
    display: flex;
    overflow: auto;
    gap: 20px;
    margin-top: 10px;
}

.products-slider .products img {
    max-width: 200px;
    max-height: 200px;
}

.products-slider .products::-webkit-scrollbar {
    display: none;
}




.product-slider-with-price {
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
}

.product-slider-with-price .products {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 10px;
}

.product-slider-with-price .products::-webkit-scrollbar {
    display: none;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 210px;
    background: #fbfbfb;
}

.product-card img {
    width: 110px;
    margin: 0 50px;
}

.product-offer p {
    background: #be0b3b;
    color: #fff;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 2px;
    margin: 8px 0;
    font-size: 13px;
}

.product-offer span {
    color: #be0b3b;
    font-weight: 500;
    font-size: 12px;
}


.product-price {
    color: gray;
    font-size: 13px;
}

.product-card h4 {
    color: #525252;
    font-size: 15px;
    font-weight: 400;
}


.back-to-top {
    background-color: #37475a;
    padding: 15px 0;
    text-align: center;
    color: #fff;
}

.footer-link-1 {
    background-color: #232F3E;
    display: flex;
    justify-content: space-evenly;
    padding: 40px 100px;

}


.footer-link-1 ul a {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    color: #bababa;
}


.footer-link-1 ul p {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 14px;
    color: #fff;
}

.hr-tag{
    height: 0.8px;
    background-color: rgb(95, 95, 95);
    border: none;
}

.logo-sec {
    background-color: #232F3E;
    display: flex;
    padding: 30px 500px;
    justify-content: space-around;
}

.box-1{
    border: 2px solid #5f5f5f;
    width: fit-content;
    display: flex;
    color: #fff ;
    align-items: center;
    padding: 5px;
    font-size: 13px;
    gap: 5px;
}

.last-footer-sec{
    background-color: #131A22;
    padding: 35px 0;
}

.last-footer-sec ul a{
    color: #999;
    font-size: 12px;
}

.last-footer-sec ul a p{
    color: #fff;
}

.last-footer-sec ul{
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 35px;
}

.last-footer-sec-2{
    margin-top: -50px;
}



.footer-copyroght{
    margin-top: 10px;
    text-align: center;
    color: #DDD;
    font-size: 12px;
}

.p1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p1 img{
    margin: 0 0 0px 10px ;
}

.p1 a{
    margin-left: 15px;
}

.sign-in-sec{
    text-align: center;
    margin: 30px 0;
}

.sign-in-sec p a{
    color: #007185;
}

.sign-in-sec button{
    text-shadow: 0 1px 0 #ffe093;
    background-color: #ffc42e;
    padding: 5px 80px;
    border-radius: 5px;
    margin: 7px 0;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid orange;
}

.hr-1 ,.hr-2{
    margin-top: 35px;
    height: 0px;
    opacity: 0.3;
    width: 95%;
    margin: 0 auto;
}

.hr-2{
    margin-bottom: 29px;
}



.img-slider-text{
    position: absolute;
    top: 330px;
    left: 40px;
    color: #0F1111;
    font-size: 15px;
    line-height: 20px;
    background-color: #f5f6f6;
    padding: 14px 270px;
}


.img-slider-text a{
    color: #007185;
}

.img-slider-text a:hover{
    text-decoration: underline;
    color: #dc951f;
}

h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    font-family: "Amazon Ember", Arial, sans-serif;
    padding-left:150px;
    margin-bottom: 15px
}


.des{
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-left:150px;
    margin-top: 15px;
    border: none;
}

.input{
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding-left:150px;
    padding-bottom: 5px
}

.line{
    width: 80%; 
    height: 2px; 
    margin-left: 10%; 
    margin-top: 10px; 
    margin-bottom: 15px; 
    background-color:rgb(189, 187, 187)
}

.cancel{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px 10px 5px 11px;
    font-size: 13px;
    margin-bottom: 15px;
    margin-left: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.save{
    border-radius: 5px;
    padding: 5px 10px 5px 11px;
    font-size: 13px;
    background-color: rgb(255, 203, 17);
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button{
    margin-top: 50px;
    margin-bottom: 30px;
}

.dropdown{
    background-color: rgb(244, 244, 244);
    padding: 0px 26px 0px 11px;
    height: 29px;
    width: 301px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 0.1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown:hover{
    cursor: pointer;
}

.opt{
    font-size: 14px;
    color: #0f1111;
    margin-top: 3px;
}

.opt:hover{
    cursor: pointer;
    background-color: rgb(232, 232, 232);
}

.suggested-items{
    margin-top: 10px;
    border: 1px solid rgb(188, 182, 182);
    border-radius: 10px;
    margin-bottom: 25px
}

.suggestions{
    margin-left: 30px;
    font-size: 18px;
    color: #0f1111;
    font-weight: bolder;
    padding-top: 20px;
    justify-content: space-between;
}

.page{
    /* text-align: left; */
    color: #0f1111;
    font-size: 14px
}


.item-list{
    padding: auto;
    margin-left: 25px;
}

.item-image{
    width: 160px;
    height: 160px
}

.item-image img{
    mix-blend-mode: multiply;
}

.name{
    width: 160px;
    height: 120px;
    font-size:14px;
    color: #007185;
}

.rating{
    margin-top: -10px;
}

.numbers{
    font-size:12px;
    color: #007185;
}

.amount{
    font-size: 17px;
    color: #0f1111;
}

.dollar{
    font-size: 11px;
    color: #0f1111;
}

.shipping{
    font-size: 12px;
    color: #0f1111;
}

.pledge{
    font-size: 12px;
    color: #168342
}

.carousel-prev-button{
    color: rgb(88, 88, 88);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 13px;
    border: 1px solid rgb(207, 207, 207);
    margin: 155px 0px;
    border-radius: 10px;
    background: white;

}

.carousel-next-button{
    color: rgb(88, 88, 88);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 13px;
    border: 1px solid rgb(207, 207, 207);
    margin: 155px 0px;
    border-radius: 10px;
    background: white;
}

.carousel-prev-button:hover{
    cursor: pointer;
}

.carousel-next-button:hover{
    cursor: pointer;
}

.item-image:hover{
    cursor: pointer;
}

.name:hover{
    color: orange;
    cursor: pointer;
}

.rating:hover{
    cursor: pointer;
}

.numbers:hover{
    color: orange;
    cursor: pointer;
}

.amount:hover{
    cursor: pointer;
}

.moving_images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    margin: 0px 30px;
}

.moving_imgs1{
    width: 1496px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.moving_imgs2{
    width: 1496px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.slider_div{
    width: 1496px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 200px;
}
.transition {
    transition: transform 0.3s ease-in-out; 
}
.transition1 {
transition: transform 0.3s ease-in-out; 
}
